@import url("https://fonts.googleapis.com/css2?family=Gowun+Batang&family=Noto+Sans+KR&display=swap");

:root {
  font-family: "Noto Sans KR", sans-serif;
  --white: #fff;
  --grey400: #b0b8c1;
  --grey500: #8b95a1;
}

body {
  padding-top: 60px;
  background-color: #f9fafb;
}

/** main stlying */

main {
  height: 100%;
}

a {
  text-decoration: none;
  color: black;
}

/** navigation bar styling  */

.p-navbar {
  width: 100%;
  height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  border-bottom: 1px solid transparent;
  background-color: var(--white);
  left: 0;
  transition: background-color 0.2s ease;
  z-index: 900;
}

.p-container {
  width: 100%;
  height: 100%;
  margin: auto;
}

.p-container > .p-container__inner {
  width: 92%;
}

.p-container__inner {
  margin: 0 auto;
}

.p-navbar__inner-container {
  width: 100%;
  height: 100%;
  display: flex;
}

.p-navbar__logo-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 60px;
}

.p-navbar__logo {
  width: 124px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.p-navbar__logo__text {
  font-size: 20px;
  font-weight: 900;
  font-family: "Gowun Batang";
}

.p-navbar-tabmenu-ul {
  display: flex;
  justify-content: space-evenly;
  gap: 15px;
  align-items: center;
}

.m-navbar-tabmenu,
.m-sidebar-tabmenu {
  margin: 0;
  padding: 6px 6px;
  border: 0;
  background: none;
  border-radius: 50%;
  font-size: 18px;
}

@media (max-width: 768px) {
  .p-navbar-tabmenu-ul {
    display: none;
  }
}

@media (min-width: 769px) {
  .m-navbar-tabmenu {
    display: none;
  }
}

.p-navbar-tabmenu-item {
  font-family: "Gowun Batang";
}

.p-navbar-tabmenu-item > a {
  font-size: 15px;
  padding: 6px 10px;
  border-radius: 8px;
  border: 0;
  background-color: transparent;
}

.p-navbar-tabmenu-item > a:hover {
  background-color: rgba(2, 32, 71, 0.05);
}

.p-navbar-tabmenu-item-login > a > button {
  display: inline-block;
  margin: 0 0 0 10px;
  padding: 0;
  border: none;
  background: none;
  font-size: 14px;
  line-height: 18px;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: auto;
  height: 40px;
  border-radius: 4px;
  padding: 0 16px;
  font-weight: 400;
  box-sizing: border-box;
  text-align: center;
  color: #ffffff;
  background-color: #62d9fc;
  outline: none;
  overflow: hidden;
}

.p-navbar-tabmenu-item-login > a > button:hover {
  background-color: #009fce;
}

/** sidebar styling */

.m-sidebar-outer {
  position: fixed;
  top: 0px;
  width: 100%;
  height: 100%;
  text-align: center;
  z-index: 999;
  background-color: rgba(33, 38, 41, 0.5);
}

.m-sidebar {
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: 0px;
  width: 270px;
  height: 100%;
  padding: 13px 4vw;
  box-sizing: border-box;
  background: var(--white);
  text-align: right;
}

.m-sidebar.active {
  transform: translateX(0px);
  transition: 0.6s ease;
  width: 270px;
}

.m-sidebar.inactive {
  overflow: hidden;
  transform: translateX(270px);
  width: 0px;
}

.m-sidebar-top {
  display: flex;
  justify-content: space-between;
}

.m-sidebar > a > button {
  display: inline-block;
  margin: 20px 0px 10px;
  padding: 0;
  border: none;
  background: none;
  font: "Noto Sans KR";
  font-size: 14px;
  line-height: 18px;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 40px;
  border-radius: 4px;
  padding: 0 16px;
  font-weight: 400;
  box-sizing: border-box;
  text-align: center;
  color: #ffffff;
  background-color: #62d9fc;
  outline: none;
  overflow: hidden;
}

.m-sidebar > a > button:hover {
  background-color: #009fce;
}

.m-sidebar-tabmenu-hr {
  padding: 0px;
  height: 1px;
  border: none;
  background-color: rgb(234, 237, 239);
  margin: 20px 0px;
}

.m-sidebar-tabmenu-item {
  font-family: "Gowun Batang";
  margin: 4px 0px 0px;
  padding: 0px;
  font-size: 14px;
  font-weight: bold;
  color: rgb(47, 52, 56);
}

.m-sidebar-tabmenu-item > a {
  overflow: hidden;
  display: block;
  width: 100%;
  height: 40px;
  padding: 0px 14px 0px 42px;
  color: inherit;
  text-overflow: ellipsis;
  white-space: nowrap;
  box-sizing: border-box;
  outline: none;
  border-radius: 4px;
  background-color: rgb(247, 249, 250);
}

.m-sidebar-tabmenu-item > a > div {
  display: flex;
  flex-wrap: wrap;
  -webkit-box-align: center;
  align-items: center;
  width: 100%;
  height: 100%;
  line-height: 1;
}
/** component: footer  */

.p-footer {
  font: 1.2rem "Noto Sans KR";
  background-color: #191f28;
  padding: 40px 0 80px;
}

.p-footer__inner {
  max-width: 1064px;
  margin: auto;
  padding: 0 67px;
  box-sizing: border-box;
}

.p-footer__address__company-name {
  display: block;
  padding-bottom: 16px;
  color: var(--grey400);
  font-size: 18px;
  font-weight: 900;
}

.p-footer__address,
.p-footer__copyright {
  color: var(--grey500);
  font-size: 15px;
  font-style: normal;
  line-height: 20px;
  white-space: pre-wrap;
}

.p-footer__social-list {
  display: flex;
  gap: 10px;
  padding: 20px 0;
}

.p-footer__social-list-item {
  width: 20px;
  height: 20px;
  padding: 8px;
  border-radius: 50%;
  background-color: #414a55;
  transition: opacity 0.2s ease;
}

.p-footer__social-list-item:hover {
  background-color: #787b8d;
}

.p-footer__social-list-item__icon {
  width: 20px;
  height: 20px;
  vertical-align: 0;
}

.p-footer__copyright {
  text-align: center;
}

/* page: contacts */
.p-contact-main {
  width: 100vw;
  min-height: calc(100vh - 352px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.p-contact-main__inner {
  padding: 0 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.p-contact-title {
  font-family: "Gowun Batang";
  color: #009fce;
  font-size: 1.5rem;
}

.p-contact-email__outer {
  display: flex;
  justify-content: center;
  align-items: baseline;
  gap: 14px;
}

.p-contact-email {
  font-size: 1.125rem;
}

.p-contact-email-copy-button {
  position: relative;
  background-color: #414a55;
  width: 26px;
  height: 26px;
  border: 0;
  border-radius: 50%;
  opacity: 0.6;
  transition: all 0.1s ease;
}

.p-contact-email-copy-button:hover {
  opacity: 1;
}

.p-contact-email-copy-button-text {
  width: 55px;
  position: absolute;
  top: 30px;
  left: -28px;
  background: #373737;
  padding: 10px 15px;
  display: flex;
  justify-content: center;
  color: #fff;
  font-size: 14px;
  border-radius: 4px;
  letter-spacing: 1px;
  opacity: 0;
}

.p-contact-email-copy-button-text.appear {
  animation: appear 1s ease;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  20% {
    transform: translateY(10px);
    opacity: 1;
  }
  80% {
    transform: translateY(0px);
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* page: sign_in */
.p-signin-main__outer {
  height: calc(100vh - 60px);
}
.p-signin-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  justify-content: center;
  min-height: 100%;
  background-color: #fafafa;
}

.p-signin-container {
  display: flex;
  width: 100%;
  -webkit-box-flex: 1;
  flex-grow: 1;
}

.p-signin-container__inner {
  flex: 1 0 auto;
  margin: 0 auto;
  max-width: 300px;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
  padding: 0px 0 30px;
}

.p-signin-container-logo {
  margin-bottom: 30px;
}

.p-signin-form {
  width: 300px;
}

.p-signin-form-input__outer {
  position: relative;
}

.p-signin-form-input__outer input {
  position: relative;
  display: block;
  width: 268px;
  padding: 13px 15px 14px;
  -webkit-transition: 0.2s box-shadow, 0.2s background-color;
  transition: 0.2s box-shadow, 0.2s background-color;
  border: 1px solid #dbdbdb;
  color: black;
}

.p-signin-form-input__outer input::placeholder {
  color: #dbdbdb;
}

.p-signin-form-input-id {
  border-radius: 4px 4px 0 0;
}
.p-signin-form-input-pw {
  margin-top: -1px;
  border-radius: 0 0 4px 4px;
}

.p-signin-form-input-login {
  display: inline-block;
  margin: 20px 0;
  padding: 15px 10px;
  border: none;
  background: none;
  font-family: "Noto Sans KR";
  font-size: 14px;
  line-height: 10px;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 40px;
  border-radius: 4px;
  font-weight: 400;
  box-sizing: border-box;
  text-align: center;
  color: #ffffff;
  background-color: #62d9fc;
  outline: none;
  overflow: hidden;
}

.p-signin-form-input-login > button:hover {
  background-color: #009fce;
}

.p-signin-form__section {
  width: 100%;
  text-align: center;
  font-size: 15px;
  font-weight: 900;
}

.p-signin-form__section > a:last-of-type {
  margin-left: 20px;
}

.p-signin-sns-signin {
  width: 100%;
  margin-top: 30px;
  border-top: 1px solid #dbdbdb;
  text-align: center;
}

.p-signin-sns-signin__text {
  margin: 15px 0 15px;
  color: #757575;
  font-size: 12px;
  font-weight: normal;
  line-height: 1.33;
  text-align: center;
}

.p-signin-sns-list {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
}

.p-signin-sns-list-item {
  margin: 0px 10px;
  width: 48px;
  height: 48px;
  border: 0;
  padding: 0;
  border-radius: 50%;
  background-color: #f9fafb;
  overflow: hidden;
  position: relative;
}

.p-signin-sns-list-item button {
  padding: 0;
  border: 0;
}

.p-signin-sns-list-item img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.p-signin-sns-list-item:hover {
  opacity: 0.6;
}

/* page: sign_up */

.p-signup-main__outer {
  height: calc(100% - 60px);
}

.p-signup-main {
  width: 380px;
  margin: 0px auto;
  padding: 0 10px 60px;
}

.p-signup-h2 {
  padding: 30px 0;
  font-size: 20px;
  font-weight: 900;
}

.p-signup-form {
  margin: 30px 0px;
  padding-top: 30px;
  border-top: 1px solid rgb(237, 237, 237);
}

.p-signup-form-label {
  display: block;
  margin-bottom: 12px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: rgb(47, 52, 56);
  letter-spacing: -0.3px;
  word-break: keep-all;
}

.p-signup-form-label.errored {
  color: rgb(255, 119, 119);
}

.p-signup-form-email-input__outer {
  margin-bottom: 30px;
}

.p-signup-form-email-input__inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
}

.p-signup-form-email-input__local {
  position: relative;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 0px;
  -moz-box-flex: 1;
  -moz-flex: 1 1 0px;
  -ms-flex: 1 1 0px;
  flex: 1 1 0px;
}

.form-control {
  transition: border-color 0.2s, box-shadow 0.2s, background-color 0.2s;
  display: block;
  box-sizing: border-box;
  height: 40px;
  width: 100%;
  padding: 0 15px;
  line-height: 40px;
  border-radius: 4px;
  border: 1px solid #dbdbdb;
  background-color: #fff;
  color: #424242;
  font-size: 15px;
}

.form-control.errored {
  border-color: #f77;
}

.form-control-blind {
  overflow: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
  white-space: nowrap;
}

.p-signup-form-email-button__outer {
  margin-bottom: 30px;
  padding-top: 2px;
}

.p-signup-form-email-button {
  margin-top: 10px;
  width: 100%;
  height: 45px;
  padding: 0px;
  background: rgb(247, 248, 250);
  color: rgb(194, 200, 204);
  line-height: 20px;
  font-size: 17px;
  min-height: 50px;
  box-sizing: border-box;
  border: 1px solid rgb(218, 220, 224);
  user-select: none;
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  text-decoration: none;
  text-align: center;
  transition: color 0.1s, background-color 0.1s, border-color 0.1s;
  border-radius: 4px;
  cursor: pointer;
}

.p-signup-form-email-button.confirmed {
  background-color: #fff;
  border-color: #35c5f0;
  color: #35c5f0;
}

.p-signup-form-description {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 18px;
  color: #828c94;
  letter-spacing: -0.3px;
}

.p-signup-form-password-input,
.p-signup-form-confirm-password-input,
.p-signup-form-nickname-input {
  display: inline-block;
  width: 100%;
  margin: 0;
  padding: 8px 15px 9px;
  border: 1px solid #dbdbdb;
  background-color: #fff;
  color: #000;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 15px;
  line-height: 21px;
  transition: border-color 0.1s, background-color 0.1s;
  resize: none;
}

.p-signup-form-password-input.errored,
.p-signup-form-confirm-password-input.errored,
.p-signup-form-nickname-input.errored,
.p-signup-form-ToS-container.errored {
  border-color: #f77;
}

.p-signup-form-password-input__outer,
.p-signup-form-confirm-password-input__outer,
.p-signup-form-nickname-input__outer,
.p-signup-form-ToS-input__outer {
  margin-bottom: 30px;
}

.p-signup-form-ToS-container {
  padding: 18px;
  border: 1px solid #eaedef;
  border-radius: 4px;
}

.p-signup-form-ToS-agreeAll-label__outer,
.p-signup-form-ToS-agree1-label__outer,
.p-signup-form-ToS-agree2-label__outer,
.p-signup-form-ToS-agree3-label__outer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
}

.p-signup-form-ToS-agree2-label__outer,
.p-signup-form-ToS-agree3-label__outer {
  margin-top: 20px;
}

.p-signup-form-ToS-agree2-label__outer > a,
.p-signup-form-ToS-agree3-label__outer > a {
  padding-left: 8px;
  width: 18px;
}

.p-signup-form-ToS-agreeAll-label,
.p-signup-form-ToS-agree1-label,
.p-signup-form-ToS-agree2-label,
.p-signup-form-ToS-agree3-label {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.p-signup-form-ToS-agreeAll-input__outer,
.p-signup-form-ToS-agree1-input__outer,
.p-signup-form-ToS-agree2-input__outer,
.p-signup-form-ToS-agree3-input__outer {
  display: inline-block;
  position: relative;
  width: 20px;
  height: 20px;
  border: 1px solid;
  border-radius: 4px;
  box-sizing: border-box;
  border-color: #dadde0;
  background-color: #ffffff;
  -webkit-transition: border-color 0.1s, background-color 0.1s;
  transition: border-color 0.1s, background-color 0.1s;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.p-signup-form-ToS-agreeAll-input__outer.active,
.p-signup-form-ToS-agree1-input__outer.active,
.p-signup-form-ToS-agree2-input__outer.active,
.p-signup-form-ToS-agree3-input__outer.active {
  border: 1px solid rgb(53, 197, 240);
  background-color: rgb(53, 197, 240);
  transition: border-color 0.1s ease 0s, background-color 0.1s ease 0s;
}

.p-signup-form-ToS-agreeAll-checkbox,
.p-signup-form-ToS-agree1-checkbox,
.p-signup-form-ToS-agree2-checkbox,
.p-signup-form-ToS-agree3-checkbox {
  position: absolute;
  overflow: hidden;
  top: 3.6px;
  left: 3px;
  width: 0px;
  height: 12px;
  -webkit-transition: width 0.2s 0.1s;
  transition: width 0.2s 0.1s;
}

.p-signup-form-ToS-agreeAll-input__outer.active
  > .p-signup-form-ToS-agreeAll-checkbox,
.p-signup-form-ToS-agree1-input__outer.active
  > .p-signup-form-ToS-agree1-checkbox,
.p-signup-form-ToS-agree2-input__outer.active
  > .p-signup-form-ToS-agree2-checkbox,
.p-signup-form-ToS-agree3-input__outer.active
  > .p-signup-form-ToS-agree3-checkbox {
  width: 12px;
}

.p-signup-form-ToS-agreeAll-check,
.p-signup-form-ToS-agree1-check,
.p-signup-form-ToS-agree2-check,
.p-signup-form-ToS-agree3-check {
  display: inline-block;
  font-size: 12px;
  line-height: 1;
  vertical-align: top;
  color: #ffffff;
}

.p-signup-form-ToS-agreeAll-check::before,
.p-signup-form-ToS-agree1-check::before,
.p-signup-form-ToS-agree2-check::before,
.p-signup-form-ToS-agree3-check::before {
  font-family: "Material Icons";
  content: "check";
  vertical-align: top;
  -webkit-font-feature-settings: "liga";
}

.p-signup-form-ToS-agreeAll-input,
.p-signup-form-ToS-agree1-input,
.p-signup-form-ToS-agree2-input,
.p-signup-form-ToS-agree3-input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  cursor: pointer;
}

.p-signup-form-ToS-agreeAll-title__outer,
.p-signup-form-ToS-agree1-title__outer,
.p-signup-form-ToS-agree2-title__outer,
.p-signup-form-ToS-agree3-title__outer {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  font-size: 16px;
  line-height: 20px;
  margin-left: 6px;
  color: #2f3438;
}

.p-signup-form-ToS-agreeAll-title,
.p-signup-form-ToS-agree1-title,
.p-signup-form-ToS-agree2-title,
.p-signup-form-ToS-agree3-title {
  font-size: 14px;
  line-height: 20px;
  vertical-align: text-top;
}

.p-signup-form-ToS-agreeAll-title {
  font-weight: 700;
}

.p-signup-form-ToS-agree1-title::after,
.p-signup-form-ToS-agree2-title::after,
.p-signup-form-ToS-agree3-title::after {
  content: "(필수)";
  display: inline-block;
  padding-left: 2px;
  font-size: 12px;
  line-height: 20px;
  color: #009fce;
}

.p-signup-form-ToS-container-hr {
  margin: 0;
  padding: 0;
  height: 1px;
  border: none;
  background-color: #eaedef;
  margin: 18px 0;
}

.p-signup-form-submit-button {
  width: 100%;
  height: 50px;
  font-size: 17px;
  line-height: 26px;
  background-color: #62d9fc;
  border-color: #62d9fc;
  color: #fff;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: inline-block;
  margin: 0;
  padding: 11px 10px;
  box-sizing: border-box;
  border: 1px solid transparent;
  font-weight: 700;
  text-decoration: none;
  text-align: center;
  transition: color 0.1s, background-color 0.1s, border-color 0.1s;
  border-radius: 4px;
  cursor: pointer;
}

.p-signup-signin-link {
  color: #424242;
  font-size: 15px;
  text-align: center;
  margin-top: 30px;
}

.p-signup-signin-link > a {
  -webkit-text-decoration: underline;
  text-decoration: underline;
  font-weight: bold;
  display: inline-block;
  padding-left: 10px;
}

.p-signup-form-error-message {
  padding-top: 10px;
  font-size: 14px;
  line-height: 18px;
  color: rgb(255, 119, 119);
}

/* page: signup/success */

.p-signup-success-text {
  line-height: 24px;
  margin-bottom: 60px;
}

#confettis {
  overflow: hidden;
  position: absolute;
  height: calc(100vh - 60px);
  width: 100%;
  z-index: -1;
}

.confetti {
  left: 50%;
  width: 16px;
  height: 16px;
  position: absolute;
  transform-origin: left top;
  animation: confetti 5s ease-in-out -2s infinite;
}

.confetti2 {
  left: 50%;
  width: 16px;
  height: 16px;
  position: absolute;
  transform-origin: left top;
  animation: confetti2 4s ease-in-out -2s infinite;
}

@keyframes confetti {
  0% {
    transform: rotateZ(15deg) rotateY(0deg) translate(0, 0);
  }
  25% {
    transform: rotateZ(5deg) rotateY(360deg) translate(-5vw, 20vh);
  }
  50% {
    transform: rotateZ(15deg) rotateY(720deg) translate(5vw, 60vh);
  }
  75% {
    transform: rotateZ(5deg) rotateY(1080deg) translate(-10vw, 80vh);
  }
  100% {
    transform: rotateZ(15deg) rotateY(1440deg) translate(10vw, 110vh);
  }
}

@keyframes confetti2 {
  0% {
    transform: rotateZ(-15deg) rotateY(0deg) translate(0, 0);
  }
  25% {
    transform: rotateZ(-5deg) rotateY(360deg) translate(-5vw, 20vh);
  }
  50% {
    transform: rotateZ(-15deg) rotateY(720deg) translate(5vw, 60vh);
  }
  75% {
    transform: rotateZ(-5deg) rotateY(1080deg) translate(-10vw, 80vh);
  }
  100% {
    transform: rotateZ(-15deg) rotateY(1440deg) translate(10vw, 110vh);
  }
}

.confetti:nth-child(1) {
  left: 10%;
  animation-delay: 0;
  background-color: #fc0120;
}
.confetti:nth-child(2) {
  left: 20%;
  animation-delay: -5s;
  background-color: #8257e6;
}
.confetti:nth-child(3) {
  left: 30%;
  animation-delay: -3s;
  background-color: #ffbf4d;
}
.confetti:nth-child(4) {
  left: 40%;
  animation-delay: -2.5s;
  background-color: #fe5d7a;
}
.confetti:nth-child(5) {
  left: 50%;
  animation-delay: -4s;
  background-color: #45ec9c;
}
.confetti:nth-child(6) {
  left: 60%;
  animation-delay: -6s;
  background-color: #f6e327;
}
.confetti:nth-child(7) {
  left: 70%;
  animation-delay: -1.5s;
  background-color: #f769ce;
}
.confetti:nth-child(8) {
  left: 80%;
  animation-delay: -2s;
  background-color: #007de7;
}
.confetti:nth-child(9) {
  left: 90%;
  animation-delay: -3.5s;
  background-color: #63b4fc;
}
.confetti2:nth-child(10) {
  left: 10%;
  animation-delay: -2.5s;
  background-color: #f9c4ea;
}
.confetti:nth-child(11) {
  left: 100%;
  animation-delay: -1.5s;
  background-color: #fc0120;
}

.confetti:nth-child(12) {
  left: 20%;
  animation-delay: -6.5s;
  background-color: #ffbf4d;
}

.confetti:nth-child(13) {
  left: 40%;
  animation-delay: -2.5s;
  background-color: #8257e6;
}

.confetti:nth-child(14) {
  left: 80%;
  animation-delay: -1.5s;
  background-color: #fe5d7a;
}

.confetti:nth-child(15) {
  left: 90%;
  animation-delay: -8.5s;
  background-color: #45ec9c;
}

.confetti2:nth-child(1) {
  left: 100%;
  animation-delay: -1.5s;
  background-color: #fc0120;
}

.confetti2:nth-child(2) {
  left: 20%;
  animation-delay: -6.5s;
  background-color: #ffbf4d;
}

.confetti2:nth-child(3) {
  left: 40%;
  animation-delay: -2.5s;
  background-color: #8257e6;
}

.confetti2:nth-child(4) {
  left: 80%;
  animation-delay: -1.5s;
  background-color: #fe5d7a;
}

.confetti2:nth-child(5) {
  left: 90%;
  animation-delay: -8.5s;
  background-color: #45ec9c;
}

.confetti2:nth-child(6) {
  left: 40%;
  animation-delay: -10s;
  background-color: #f6e327;
}

.confetti2:nth-child(7) {
  left: 90%;
  animation-delay: -3s;
  background-color: #f769ce;
}

.confetti2:nth-child(8) {
  left: 10%;
  animation-delay: -6s;
  background-color: #007de7;
}

.confetti2:nth-child(9) {
  left: 0%;
  animation-delay: -1s;
  background-color: #63b4fc;
}

.confetti2:nth-child(10) {
  left: 50%;
  animation-delay: -8s;
  background-color: #8257e6;
}

.confetti2:nth-child(11) {
  left: 10%;
  animation-delay: 0;
  background-color: #fc0120;
}
.confetti2:nth-child(12) {
  left: 20%;
  animation-delay: -5s;
  background-color: #8257e6;
}
.confetti2:nth-child(13) {
  left: 30%;
  animation-delay: -3s;
  background-color: #ffbf4d;
}
.confetti2:nth-child(14) {
  left: 40%;
  animation-delay: -2.5s;
  background-color: #fe5d7a;
}
.confetti2:nth-child(15) {
  left: 50%;
  animation-delay: -4s;
  background-color: #45ec9c;
}

/* page: policy */

.p-policy-main {
  max-width: 782px;
  width: 100%;
  margin: 0 auto;
  padding: 20px 16px;
  box-sizing: border-box;
  color: #2f3438;
}

.p-policy-title {
  font-size: 24px;
  font-weight: bold;
  line-height: 40px;
  margin-bottom: 18px;
}

.p-policy-link-container {
  min-height: 114px;
  border: 1px solid rgb(234, 235, 239);
  border-radius: 4px;
  position: relative;
  margin-bottom: 40px;
}

.p-policy-link-container__inner {
  font-size: 13px;
  font-weight: normal;
  color: rgb(130, 140, 148);
}

.p-policy-link-container__inner > ol {
  margin: 24px;
  column-count: 3;
  column-gap: 12px;
}

@media (max-width: 767px) {
  .p-policy-link-container__inner > ol {
    column-count: 1;
  }
}

.p-policy-link-container__inner > ol > li > a {
  font-weight: normal;
  color: rgb(130, 140, 148);
  opacity: 1;
}

.p-policy-link-container__inner > ol > li > a:hover {
  opacity: 0.6;
}

.p-policy-link-container__inner > ol li {
  padding-bottom: 6px;
}

.p-policy-term-container {
  font-size: 14px;
  line-height: 24px;
  font-weight: 500;
}

.p-policy-term-container h3 {
  margin: -40px 0px 10px;
  padding-top: 80px;
  font-size: 14px;
  line-height: 18px;
  font-weight: 900;
}

.p-policy-term-container ol {
  padding-left: 26px;
}

.p-policy-term-container > ol > li {
  margin: 10px 0px;
}

.p-policy-date-container__outer {
  width: 125px;
  height: 40px;
  margin-bottom: 18px;
}

.p-policy-date-container {
  position: relative;
  display: inline-block;
  width: 100%;
}

.p-policy-date-container-select {
  font-size: 15px;
  border-color: rgb(234, 235, 239);
  cursor: pointer;
  padding: 8px 15px 9px 12px;
  border-radius: 4px;
}

.p-policy-date-container-select option {
  -webkit-appearance: none;
}

.p-policy-header {
  width: 100%;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  flex-wrap: wrap;
}

/* page: privacy */

.p-privacy-main {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1024px;
  box-sizing: border-box;
}

.p-privacy-main__inner {
  padding: 30px 0;
  font-size: 13px;
  font-weight: 500;
  line-height: 1.5;
  color: #424242;
  word-break: keep-all;
  overflow-wrap: break-word;
}

.p-privacy-main__inner p {
  margin: 0.5em 0;
}

.p-privacy-main__inner > p > strong {
  -webkit-tap-highlight-color: transparent;
  color: #424242;
  font-size: 13px;
  font-weight: 900;
  font-variant-ligatures: normal;
  font-variant-caps: normal;
  letter-spacing: normal;
  orphans: 2;
  text-align: start;
  text-indent: 0px;
  text-transform: none;
  white-space: pre-wrap;
  widows: 2;
  word-spacing: 0px;
  -webkit-text-stroke-width: 0px;
  text-decoration-thickness: initial;
  text-decoration-style: initial;
  text-decoration-color: initial;
}

.p-privacy-main__inner table {
  -webkit-tap-highlight-color: transparent;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0px;
  color: #424242;
  font-size: 12px;
  font-style: normal;
  font-variant-ligatures: normal;
  font-variant-caps: normal;
  font-weight: 400;
  letter-spacing: normal;
  orphans: 2;
  text-align: start;
  text-transform: none;
  white-space: pre-wrap;
  widows: 2;
  word-spacing: 0px;
  -webkit-text-stroke-width: 0px;
  text-decoration-thickness: initial;
  text-decoration-style: initial;
  text-decoration-color: initial;
}

@media (min-width: 866px) {
  .p-privacy-main__inner table {
    width: 836px;
  }
}

.p-privacy-main__inner table thead tr th {
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 5px;
  font-weight: 500;
  text-align: center;
  background: #f1f2f2;
  width: 115px;
  border: 1px solid #bdbdbd;
  height: 18px;
}

.p-privacy-main__inner table tbody tr td {
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 5px;
  border-right: 1px solid #bdbdbd;
  border-bottom: 1px solid #bdbdbd;
  border-left: 1px solid #bdbdbd;
  height: 110px;
  width: 115px;
  vertical-align: middle;
}

.p-privacy-main__inner table tbody tr td h3 {
  color: #009fce;
  font-size: 1.17em;
  font-weight: 900;
}
